<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/register.css}" href="../static/css/register.css">
  <title>ARTHUB - Register</title>
</head>

<body>
<header>
  <div class="container">
    <nav>
      <a href="/"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="ARTHUB Logo"
                       class="logo"></a>
      <div class="navigation">
        <ul>
          <li>
            <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()">Sign In</a>
          </li>
          <li>
            <a href="#" th:href="@{/register}" sec:authorize="isAnonymous()">Register</a>
          </li>
          <li>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Sign Out</a>
          </li>
          <li>
            <a href="#" th:href="@{/shop}">Browse Art</a>
          </li>
          <li>
            <a href="#" th:href="@{/cart}">Your Cart</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="login-container">
  <div class="logo">
    <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="ARTHUB Logo">
  </div>
  <form class="input-group" id="Register" th:action="@{/register}" th:object="${user}" method="post">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" class="input-field" placeholder="Enter First Name"
             required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" class="input-field" placeholder="Enter Last Name"
             required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="input-field" placeholder="Enter Email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="input-field" placeholder="Enter Password"
             required>
    </div>
    <button type="submit" class="submit-btn">Register</button>
  </form>
</div>
</body>

</html>
